extends ../config/template
append config
	-currentPage		= "class3"
	-siteName			= 'Class 3'
	-content			= 'content'
	-pageDescription	= 'Content of the XXXX Course'
block main-header
block main-container
	.ed-container.main-section
		include ../components/side-menu
		main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
			include:markdown-it(html) ../../md/class3/class3.md
block main-footer
block scripts
